doctype html
html
	head
		include head.pug
		//- CSS
		link(rel="stylesheet" href="css/faq.css")
		//- JS
		script(src="js/faq.js" type="text/javascript")

	body
		include header.pug
		
		article
			section.faq
				.inner
					h2 FAQs 
					.item_box
						.item
							.item_inner
								h3 Will Message Checker collect my information?
							.answer
								p No. Message Checker will never collect sensitive user information. We care about your privacy more than anything; read our
									|
									a(href="privacy.html")  Privacy Policy 
									| to know more details. 
						.item
							.item_inner
								h3 Will Message Checker get access to our conversation?
							.answer
								p No, Message Checker doesn’t get access to any of the “conversations” from you. Instead, Only when you grant access to Message Checker can it access notifications of particular App(s) you selected. Message Checker checks risky URLs and potential misinformation and scam just for single notification content, nothing more.
						.item
							.item_inner
								h3 Will Message Checker collect my information?
							.answer
								p No. Message Checker will never collect sensitive user information. We care about your privacy more than anything; read our
									|
									a(href="privacy.html")  Privacy Policy 
									| to know more details. 
						.item
							.item_inner
								h3 Will Message Checker get access to our conversation?
							.answer
								p No, Message Checker doesn’t get access to any of the “conversations” from you. Instead, Only when you grant access to Message Checker can it access notifications of particular App(s) you selected. Message Checker checks risky URLs and potential misinformation and scam just for single notification content, nothing more.
						.item
							.item_inner
								h3 Will Message Checker collect my information?
							.answer
								p No. Message Checker will never collect sensitive user information. We care about your privacy more than anything; read our
									|
									a(href="privacy.html")  Privacy Policy 
									| to know more details. 
						.item
							.item_inner
								h3 Will Message Checker get access to our conversation?
							.answer
								p No, Message Checker doesn’t get access to any of the “conversations” from you. Instead, Only when you grant access to Message Checker can it access notifications of particular App(s) you selected. Message Checker checks risky URLs and potential misinformation and scam just for single notification content, nothing more.
		footer
			.inner
				.main
					.row
						h4 Company
						a(href="https://whoscall.com" target="_blank") Gogolook
						a(href="privacy.html") Privacy policy
						a(href="terms.html") Terms of service
					.row
						h4 Services
						a(href="contact.html") Contact
						a(href="faq.html") FAQs
					.row
						h4 Follow us
						a(href="https://www.facebook.com/MessageCheckerBR" target="_blank") Facebook
						a(href="https://www.instagram.com/messagechecker/?igshid=YmMyMTA2M2Y=" target="_blank") Instagram
					.row
						h1 Message Checker
						a.app01(href="https://bit.ly/3b91YMY" target="_blank")
							img(src="images/app01.png", alt="Google Play")
				.copyright
					p © 2021 Gogolook. All Rights Reserved.
					.lang English (US)
					.lang_box
						span English (US)
						a(href="tw/faq.html") 中文
						a(href="pt/faq.html") Português