header
    a.logo(href="index.html")
        img(src="images/logo.svg", alt="Logo") 
    nav
        ul
            li 
                a(href="faq.html") FAQs 
            li
                a.download(href="" target="_blank") Download Now 