doctype html
html
	head
		include head.pug
		
		//- CSS
		link(rel="stylesheet" href="css/owl.carousel.css")
		link(rel="stylesheet" href="css/index.css")

		//- JS
		script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
		script(src="js/owl.carousel.js" type="text/javascript")
		script(src="js/slick.min.js" type="text/javascript")
		script(src="js/index.js" type="text/javascript")

	body
		include header.pug
		
		article
			section.kv
				.c01
				.shadow
				.inner
					.left
						h2 Protection Everywhere
						p The most protective app ever! Secures you from endless frauds, and you can view your messages without notifying the sender.
						a.app01(href="https://bit.ly/3b91YMY" target="_blank")
							img(src="images/app01.png", alt="Google Play")
					.right
						figure.phone
							img(src="images/phone.png", alt="phone")
						.c02
			section.pain
				.inner
					.item_box
						.item01.active
							.info
								h2 Have you ever felt tired of your endless notifications?
								p Sometimes it’s from your clients, your boss, even from someone you don’t know about, or someone you would like to block but you didn’t, because it might be awkward afterward.
							figure
								img(src="images/woman01.png", alt="Have you ever felt tired of your endless notifications?")
						.item02
							.info
								h2 Stop being bothered by endless unverified messages, anymore!
								p Now we build it, stop these endless digital tracking, stop these exhausting wonders, check your notifications via Message Checker; that’s all you need.
							figure
								img(src="images/woman02.png", alt="Stop being bothered by endless unverified messages, anymore!")
						.dot_box
							.dot01.active
							.dot02
			section.feature
				.inner
					h2 We Offers Wide Range of Features
					.main
						.row
							figure
								img(src="images/feature01.svg", alt="Misinformation Detection")
							.info
								h3 Misinformation Detection
								p False science, wrong health information or scam? we can check it
						.row
							figure
								img(src="images/feature02.svg", alt="URLs Detection")
							.info
								h3 URLs Detection
								p Protect you from virus attack, fraud shopping page and more
						.row
							figure
								img(src="images/feature03.svg", alt="Private Messages Reading")
							.info
								h3 Private Messages Reading
								p From now on, you can read any message freely, without being tracked by someone
			section.solution
				.bg
				.inner
					.slide_box.owl-carousel
						figure
							img(src="images/solution01.png", alt="solution01")
						figure
							img(src="images/solution02.png", alt="solution02")
						figure
							img(src="images/solution03.png", alt="solution03")
					h2 The Best Solution For Your Security App
			section.trust
				.inner
					figure
						img(src="images/trust01.png", alt="trust")
					.info
						h2 Built for Trust
						p Accurate fact check reports from worldwide IFCN members help you determine false science or health information. You no longer have to suffer from the suspicious message!
			section.blog
				.inner
					h2 Blog
					.item_box
						//- a.item(href="blog.html")
						//- 	figure
						//- 		img(src="images/blog_img.png", alt="小熊來電 iOS 首發版本說明")
						//- 		.more
						//- 			p Read more
						//- 	.info
						//- 		h3 How can I avoid misinformation or fake news?
						//- 		h4 The most important step to take is to interrupt your own reflex of sharing posts that outrage you or resonate with your beliefs.
						//- a.item(href="blog.html")
						//- 	figure
						//- 		img(src="images/blog_img.png", alt="小熊來電 iOS 首發版本說明")
						//- 		.more
						//- 			p Read more
						//- 	.info
						//- 		h3 How to avoid misinformation in the social media
						//- 		h4 While the two terms are commonly used in place of one another, “misinformation” and “disinformation” are not synonyms.
						//- a.item(href="blog.html")
						//- 	figure
						//- 		img(src="images/blog_img.png", alt="小熊來電 iOS 首發版本說明")
						//- 		.more
						//- 			p Read more
						//- 	.info
						//- 		h3 A Guide to Misinformation: How to Spot and Combat Fake News
						//- 		h4 If you encounter fake news and misinformation while browsing your social media feeds, you can take action.
						
			section.say
				.inner
					h2 What People Say About Us
					h3 Join over 100K others who enjoy Message Checker
					.item_box
						.item
							.star_box
								.star
								.star
								.star
								.star
								.star
							p "I LOVE this app it is very useful and helpful. Thanks Call Defender you made my daily life easy with awesome function"
							.name Jenny Wilson
						.item
							.star_box
								.star
								.star
								.star
								.star
								.star
							p "I LOVE this app it is very useful and helpful. Thanks Call Defender you made my daily life easy with awesome function"
							.name Jenny Wilson
						.item
							.star_box
								.star
								.star
								.star
								.star
								.star
							p "I LOVE this app it is very useful and helpful. Thanks Call Defender you made my daily life easy with awesome function"
							.name Jenny Wilson
						.item
							.star_box
								.star
								.star
								.star
								.star
								.star
							p "I LOVE this app it is very useful and helpful. Thanks Call Defender you made my daily life easy with awesome function"
							.name Jenny Wilson
			section.whoscall
				.inner
					h2 Powered By Whoscall
					figure
						img(src="images/whoscall.png", alt="whoscall")
					p A company that excels at anti-fraud technology. Building on the core concept of "trust". Our mission is to create a Trustworthy Communication Environment for all of our users and beyond. We have developed multi-faceted products to fulfill various needs. Message Checker is the newest innovative app we’re launching on global markets to protect users from misinformation.

		footer
			.inner
				.main
					.row
						h4 Company
						a(href="https://whoscall.com" target="_blank") Gogolook
						a(href="privacy.html") Privacy policy
						a(href="terms.html") Terms of service
					.row
						h4 Services
						a(href="contact.html") Contact
						a(href="faq.html") FAQs
					.row
						h4 Follow us
						a(href="https://www.facebook.com/MessageCheckerBR" target="_blank") Facebook
						a(href="https://www.instagram.com/messagechecker/?igshid=YmMyMTA2M2Y=" target="_blank") Instagram
					.row
						h1 Message Checker
						a.app01(href="https://bit.ly/3b91YMY" target="_blank")
							img(src="images/app01.png", alt="Google Play")
				.copyright
					p © 2021 Gogolook. All Rights Reserved.
					.lang English (US)
					.lang_box
						span English (US)
						a(href="tw/index.html") 中文
						a(href="pt/index.html") Português