doctype html
html
	head
		include head.pug
		//- CSS
		link(rel="stylesheet" href="css/faq.css")
		//- JS
		script(src="js/faq.js" type="text/javascript")

	body
		include header.pug
		
		article
			section.faq
				.inner
					h2 常見問題 
					.item_box
						.item
							.item_inner
								h3 App會搜集用戶資料嗎？
							.answer
								p Message Checker 與您一樣，相當注重用戶隱私，因此絕不會搜集非App所需的資料，或並作為任何第三方使用。您可以閱讀我們的 
									|
									a(href="privacy.html")  隱私政策
									| 以了解更多詳情。
						.item
							.item_inner
								h3 App會取得用戶對話訊息嗎？
							.answer
								p Message Checker 無法取得用戶任何對話訊息。只有當用戶授權給 Message Checker 時，我們才能取得用戶所選擇的特定App的通知。Message Checker僅對於單一通知的內容，檢查具風險的URL，以及潛在的錯誤訊息和詐騙資訊。
						.item
							.item_inner
								h3 App會搜集用戶資料嗎？
							.answer
								p Message Checker 與您一樣，相當注重用戶隱私，因此絕不會搜集非App所需的資料，或並作為任何第三方使用。您可以閱讀我們的
									|
									a(href="privacy.html")  隱私政策
									| 以了解更多詳情。
						.item
							.item_inner
								h3 App會取得用戶對話訊息嗎？
							.answer
								p Message Checker 無法取得用戶任何對話訊息。只有當用戶授權給 Message Checker 時，我們才能取得用戶所選擇的特定App的通知。Message Checker僅對於單一通知的內容，檢查具風險的URL，以及潛在的錯誤訊息和詐騙資訊。
						.item
							.item_inner
								h3 App會搜集用戶資料嗎？
							.answer
								p Message Checker 與您一樣，相當注重用戶隱私，因此絕不會搜集非App所需的資料，或並作為任何第三方使用。您可以閱讀我們的
									|
									a(href="privacy.html")  隱私政策
									| 以了解更多詳情。
						.item
							.item_inner
								h3 App會取得用戶對話訊息嗎？
							.answer
								p Message Checker 無法取得用戶任何對話訊息。只有當用戶授權給 Message Checker 時，我們才能取得用戶所選擇的特定App的通知。Message Checker僅對於單一通知的內容，檢查具風險的URL，以及潛在的錯誤訊息和詐騙資訊。
		footer
			.inner
				.main
					.row
						h4 公司
						a(href="https://whoscall.com" target="_blank") Gogolook
						a(href="privacy.html") 隱私權政策
						a(href="terms.html") 服務條款
					.row
						h4 服務
						a(href="contact.html") 聯絡我們
						a(href="faq.html") 常見問題
					.row
						h4 追蹤我們
						a(href="https://www.facebook.com/MessageCheckerBR" target="_blank") Facebook
						a(href="https://www.instagram.com/messagechecker/?igshid=YmMyMTA2M2Y=" target="_blank") Instagram
					.row
						h1 Message Checker
						a.app01(href="https://bit.ly/3b91YMY" target="_blank")
							img(src="images/app01.png", alt="Google Play")
				.copyright
					p © 2021 Gogolook. All Rights Reserved.
					.lang 中文
					.lang_box
						a(href="../faq.html") English (US)
						span 中文
						a(href="../pt/faq.html") Português