doctype html
html
	head
		include head.pug
		//- CSS
		link(rel="stylesheet" href="css/faq.css")
		//- JS
		script(src="js/faq.js" type="text/javascript")

	body
		include header.pug
		
		article
			section.faq
				.inner
					h2 Perguntas frequentes
					.item_box
						.item
							.item_inner
								h3 O Message Checker coletará minhas informações?
							.answer
								p Não. O Message Checker nunca coletará informações confidenciais do usuário. Nós nos preocupamos com sua privacidade mais do que qualquer coisa; leia nossa Política de Privacidade para saber mais detalhes.
									|
									a(href="privacy.html")  Política de Privacidade 
									| para saber mais detalhes.
						.item
							.item_inner
								h3 O Message Checker terá acesso à nossa conversa?
							.answer
								p Não, o Message Checker não tem acesso a nenhuma das suas “conversas”. Em vez disso, somente quando você conceder acesso ao Message Checker, ele poderá acessar as notificações de determinado(s) aplicativo(s) que você selecionou. O Message Checker verifica URLs que apresentam riscos, possíveis desinformações e fraudes pelo conteúdo de notificação, nada mais.
						.item
							.item_inner
								h3 O Message Checker coletará minhas informações?
							.answer
								p Não. O Message Checker nunca coletará informações confidenciais do usuário. Nós nos preocupamos com sua privacidade mais do que qualquer coisa; leia nossa Política de Privacidade para saber mais detalhes.
									|
									a(href="privacy.html")  Política de Privacidade 
									| para saber mais detalhes.
						.item
							.item_inner
								h3 O Message Checker terá acesso à nossa conversa?
							.answer
								p Não, o Message Checker não tem acesso a nenhuma das suas “conversas”. Em vez disso, somente quando você conceder acesso ao Message Checker, ele poderá acessar as notificações de determinado(s) aplicativo(s) que você selecionou. O Message Checker verifica URLs que apresentam riscos, possíveis desinformações e fraudes pelo conteúdo de notificação, nada mais.
						.item
							.item_inner
								h3 O Message Checker coletará minhas informações?
							.answer
								p Não. O Message Checker nunca coletará informações confidenciais do usuário. Nós nos preocupamos com sua privacidade mais do que qualquer coisa; leia nossa Política de Privacidade para saber mais detalhes.
									|
									a(href="privacy.html")  Política de Privacidade 
									| para saber mais detalhes.
						.item
							.item_inner
								h3 O Message Checker terá acesso à nossa conversa?
							.answer
								p Não, o Message Checker não tem acesso a nenhuma das suas “conversas”. Em vez disso, somente quando você conceder acesso ao Message Checker, ele poderá acessar as notificações de determinado(s) aplicativo(s) que você selecionou. O Message Checker verifica URLs que apresentam riscos, possíveis desinformações e fraudes pelo conteúdo de notificação, nada mais.
						

		footer
			.inner
				.main
					.row
						h4 Empresa
						a(href="https://whoscall.com" target="_blank") Gogolook
						a(href="privacy.html") Política de Privacidade
						a(href="terms.html") Termos de serviço
					.row
						h4 Serviços
						a(href="contact.html") Contato
						a(href="faq.html") Perguntas frequentes
					.row
						h4 Siga-nos
						a(href="https://www.facebook.com/MessageCheckerBR" target="_blank") Facebook
						a(href="https://www.instagram.com/messagechecker.br/?igshid=YmMyMTA2M2Y=" target="_blank") Instagram
					.row
						h1 Message Checker
						a.app01(href="https://bit.ly/3b91YMY" target="_blank")
							img(src="images/app01.png", alt="Google Play")
				.copyright
					p © 2021 Gogolook. Todos os direitos reservados.
					.lang Português
					.lang_box
						a(href="../faq.html") English (US)
						a(href="../tw/faq.html") 中文
						span Português