doctype html
html
	head
		include head.pug
		//- CSS
		link(rel="stylesheet" href="css/owl.carousel.css")
		link(rel="stylesheet" href="css/index.css")
		//- JS
		script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
		script(src="js/owl.carousel.js" type="text/javascript")
		script(src="js/slick.min.js" type="text/javascript")
		script(src="js/index.js" type="text/javascript")

	body
		include header.pug
		
		article
			section.kv
				.c01
				.shadow
				.inner
					.left
						h2 Proteção a toda hora em todos lugares
						p O melhor aplicativo de todos os tempos! Ele vai te proteger contra fraudes, desinformação e de quebra você pode ler suas mensagens do WhatsApp sem o remetente saber.
						a.app01(href="https://bit.ly/3b91YMY" target="_blank")
							img(src="images/app01.png", alt="Google Play") 
					.right
						figure.phone
							img(src="images/phone.png", alt="phone")
						.c02
			section.pain
				.inner
					.item_box
						.item01.active
							.info
								h2 Cansado(a) de ter que responder mensagens pois o remetente sabe que você leu a mensagem?
								p Você já se sentiu cansado de receber e ter que responder tantas mensagens? Seja de clientes, chefe, amigos até mesmo de alguém que você gostaria de bloquear mas não pode. Recupere o controle HOJE!
							figure
								img(src="images/woman01.png", alt="Cansado(a) de ter que responder mensagens pois o remetente sabe que você leu a mensagem?")
						.item02
							.info
								h2 Pare de ser incomodado por intermináveis mensagens não verificadas
								p Agora você tem a solução, pare com esse rastreamento digital sem fim, verifique suas notificações via Message Checker; isso é tudo que você precisa.
							figure
								img(src="images/woman02.png", alt="Pare de ser incomodado por intermináveis mensagens não verificadas")
						.dot_box
							.dot01.active
							.dot02
			section.feature
				.inner
					h2 Message Checker oferece várias funcionalidades
					.main
						.row
							figure
								img(src="images/feature01.svg", alt="Detecção de desinformação")
							.info
								h3 Detecção de desinformação
								p Informações falsas? Mensagem enganosa sobre saude ou fraude? Podemos verificar
						.row
							figure
								img(src="images/feature02.svg", alt="Verificação de links URLs")
							.info
								h3 Verificação de links URLs
								p Proteção contra falsos links, sites de compra fraudulentos e muito mais
						.row
							figure
								img(src="images/feature03.svg", alt="Leitura de mensagens em modo privado")
							.info
								h3 Leitura de mensagens em modo privado
								p Mantenha suas mensagens como “não lida’. Você pode ler qualquer mensagem do WhatsApp livremente sem ser rastreado por ninguém
			section.solution
				.bg
				.inner
					.slide_box.owl-carousel
						figure
							img(src="images/solution01.png", alt="solution01")
						figure
							img(src="images/solution02.png", alt="solution02")
						figure
							img(src="images/solution03.png", alt="solution03")
					h2 A melhor solução! O seu aplicativo de segurança!
			section.trust
				.inner
					figure
						img(src="images/trust01.png", alt="trust")
					.info
						h2 Confiança é a base de tudo
						p Relatórios de verificação de fatos precisos checadores de fatos em todo o mundo ajudam você a determinar falsas informações científicas ou de saúde. Você não precisa mais sofrer com a mensagens suspeitas!
			section.blog
				.inner
					h2 Blog
					.item_box
						//- a.item(href="blog.html")
						//- 	figure
						//- 		img(src="images/blog_img.png", alt="小熊來電 iOS 首發版本說明")
						//- 		.more
						//- 			p Read more
						//- 	.info
						//- 		h3 How can I avoid misinformation or fake news?
						//- 		h4 The most important step to take is to interrupt your own reflex of sharing posts that outrage you or resonate with your beliefs.
						//- a.item(href="blog.html")
						//- 	figure
						//- 		img(src="images/blog_img.png", alt="小熊來電 iOS 首發版本說明")
						//- 		.more
						//- 			p Read more
						//- 	.info
						//- 		h3 How to avoid misinformation in the social media
						//- 		h4 While the two terms are commonly used in place of one another, “misinformation” and “disinformation” are not synonyms.
						//- a.item(href="blog.html")
						//- 	figure
						//- 		img(src="images/blog_img.png", alt="小熊來電 iOS 首發版本說明")
						//- 		.more
						//- 			p Read more
						//- 	.info
						//- 		h3 A Guide to Misinformation: How to Spot and Combat Fake News
						//- 		h4 If you encounter fake news and misinformation while browsing your social media feeds, you can take action.
			
			section.say
				.inner
					h2 O que as pessoas dizem sobre nós
					h3 Junte-se a mais de 100 mil pessoas que gostam do Message Checker
					.item_box
						.item
							.star_box
								.star
								.star
								.star
								.star
								.star
							p "I LOVE this app it is very useful and helpful. Thanks Call Defender you made my daily life easy with awesome function"
							.name Jenny Wilson
						.item
							.star_box
								.star
								.star
								.star
								.star
								.star
							p "I LOVE this app it is very useful and helpful. Thanks Call Defender you made my daily life easy with awesome function"
							.name Jenny Wilson
						.item
							.star_box
								.star
								.star
								.star
								.star
								.star
							p "I LOVE this app it is very useful and helpful. Thanks Call Defender you made my daily life easy with awesome function"
							.name Jenny Wilson
						.item
							.star_box
								.star
								.star
								.star
								.star
								.star
							p "I LOVE this app it is very useful and helpful. Thanks Call Defender you made my daily life easy with awesome function"
							.name Jenny Wilson
			section.whoscall
				.inner
					h2 Desenvolvido por Whoscall
					figure
						img(src="images/whoscall.png", alt="whoscall")
					p Uma empresa que se destaca em tecnologia antifraude. Com base no conceito central de "confiança". Nossa missão é criar um ambiente de comunicação confiável para todos os nossos usuários e além. Desenvolvemos produtos multifacetados para atender a diversas necessidades. O Message Checker é o mais novo aplicativo inovador que estamos lançando nos mercados globais para proteger os usuários contra de fraudes e desinformação.

		footer
			.inner
				.main
					.row
						h4 Empresa
						a(href="https://whoscall.com" target="_blank") Gogolook
						a(href="privacy.html") Política de Privacidade
						a(href="terms.html") Termos de serviço
					.row
						h4 Serviços
						a(href="contact.html") Contato
						a(href="faq.html") Perguntas frequentes
					.row
						h4 Siga-nos
						a(href="https://www.facebook.com/MessageCheckerBR" target="_blank") Facebook
						a(href="https://www.instagram.com/messagechecker.br/?igshid=YmMyMTA2M2Y=" target="_blank") Instagram
					.row
						h1 Message Checker
						a.app01(href="https://bit.ly/3b91YMY" target="_blank")
							img(src="images/app01.png", alt="Google Play")
				.copyright
					p © 2021 Gogolook. Todos os direitos reservados.
					.lang Português
					.lang_box
						a(href="../index.html") English (US)
						a(href="../tw/index.html") 中文
						span Português